.basketimg {
width:400px;
height:400px;
}

.container3 {
margin : 50px;
align-items: center;
text-align: center;
}

.container3 h2 {
color: black;
font-size: 50px;
}

.slider {
align-items: center;
display: flex;
justify-content: center;
}

#bouton{
text-decoration: none;
padding : 20px;
background-color: white;
border-radius: 10px;
color: black;
border: solid black;
font-size: 20px;
margin :50px;
}

#bouton:hover{
color: orange;
border-color: orange;
}